* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height:300px; */
    /* background-color: rgb(142, 142, 142); */
    justify-content: center;
    align-items: center;
    align-content: space-between;
    /* display: flex; */
}

input {
    margin: auto;
    background-color: rgb(114, 253, 253);
    display: block;
    border-style: double;
}